@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  --main-background-color: hsl(233, 47%, 7%);
  --card-background-color: hsl(244, 38%, 16%);
  --violet-accent-color: hsl(277, 64%, 61%);
  --white-main-heading-stats: hsl(0, 0%, 100%);
  --white-main-paragraph: hsl(0, 0%, 100%, 0.75);
  --white-stat-headings: hsl(0, 0%, 100%, 0.6);
  --ff-inter: "Inter", sans-serif;
  --ff-lexen: "Lexend Deca", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background-color);
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
body .container {
  background-color: var(--card-background-color);
  max-height: 580px;
  max-width: 1396px;
  color: var(--white-main-heading-stats);
  display: flex;
  font-family: var(--ff-inter);
}
body .container .item-1 {
  width: 50%;
  height: 100%;
  padding: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body .container .item-1 h1 {
  color: var(--white-main-heading-stats);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5%;
}
body .container .item-1 h1 span {
  color: var(--violet-accent-color);
}
body .container .item-1 p {
  font-size: 14px;
  color: var(--white-main-paragraph);
  margin-bottom: 10%;
}
body .container .item-1 ul {
  width: 100%;
  display: flex;
  align-items: center;
}
body .container .item-1 ul li {
  margin-right: 12%;
}
body .container .item-1 ul li .stat-heading {
  font-size: 18px;
  font-weight: 700;
  color: var(--white-main-heading-stats);
}
body .container .item-1 ul li .stat-name {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--white-stat-headings);
}
body .container .item-2 {
  width: 50%;
  height: 100%;
}
body .container .item-2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

@media (max-width: 755px) {
  .container {
    background-color: var(--card-background-color);
    min-width: 350px !important;
    overflow-y: auto;
    color: var(--white-main-heading-stats);
    display: flex;
    flex-direction: column-reverse;
    font-family: var(--ff-inter);
    margin: 20px;
  }
  .container .item-1 {
    text-align: center;
    width: 100% !important;
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .container .item-1 h1 {
    color: var(--white-main-heading-stats);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5%;
  }
  .container .item-1 h1 span {
    color: var(--violet-accent-color);
  }
  .container .item-1 p {
    font-size: 14px;
    color: var(--white-main-paragraph);
    margin-bottom: 10%;
  }
  .container .item-1 ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .container .item-1 ul li {
    margin-right: 0px !important;
  }
  .container .item-1 ul li .stat-heading {
    font-size: 18px;
    font-weight: 700;
    color: var(--white-main-heading-stats);
  }
  .container .item-1 ul li .stat-name {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--white-stat-headings);
  }
  .container .item-2 {
    width: 100% !important;
    height: 100%;
  }
  .container .item-2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
